

html,head,body,ul,li,section,div,h1,input,table{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    --background: none;
    font-size: 100%;
    font-family: 'Malgun Gothic', san-serif;
    box-sizing: border-box;
    color: inherit;
    line-height: 1;
    box-shadow: none;
    border-collapse: collapse;
}
button{
    border: 0;
    font-size: 100%;
    font-family: 'Malgun Gothic', san-serif;
    padding: 0;
    background-color: white;
}
ul, li{
    list-style: none;
}

.d-none{
    display: none;
}

.d-none.current{
    display: block;
}

th, td {
    padding: 0;
  }
a{
    text-decoration: none;
}