

html,head,body,ul,li,section,div,h1,input{
    margin: 0;
    padding: 0;
    --border: 0;
    border-radius: 0;
    --background: none;
    font-size: 100%;
    font-family: 'Malgun Gothic', san-serif;
    box-sizing: border-box;
    color: inherit;
    line-height: 1;
    box-shadow: none;
}

ul, li{
    list-style: none;
}

