
/* 푸터고정을 위한 높이값 */
#contents{
    padding-bottom: 6rem;
}
/*---------- weekly best couple ----------------------------*/
/* 以묒븰�젙�젹 */
#couple-best{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/* �씪�젹諛곗튂 */
.images-couple{
    display: flex;
   
}
/* �궗�씠 媛꾧꺽 */
.images-couple div{
    margin-left: 10px;
}
.images-couple img{
    width: 75%;
    height: 80%;
	
}
/* 留덉�留� �옄�떇�끂�뱶 �삤瑜몄そ 媛꾧꺽 留욎텛湲� */
.images-couple>:last-child{
    margin-right: 10px;
}
/*----------- weekly best course ------------------------- */
/* 以묒븰�젙�젹 */
#course-best{
    display: table;
    margin-left: auto;
    margin-right: auto;  
}
/* �씪�젹諛곗튂 */
.images-course{
    display: flex;
}
/* �궗�씠媛꾧꺽 */
.images-course div{
    margin-left: 10px;
}
.images-course img{
    width: 80%;
    height: 90%;
	
}
/* 留덉�留� �옄�떇�끂�뱶 �삤瑜몄そ 媛꾧꺽 留욎텛湲� */
.images-course>:last-child{
    margin-right: 10px;
}
/*-------- hot deal ------------------ ----------------------*/
/* 以묒븰�젙�젹 */
#partner{
    display: table;
    margin-left: auto;
    margin-right: auto;  
}
/* �씪�젹諛곗튂 */
#deal-list{
    display: flex;
}
/* �궗�씠媛꾧꺽 */
#deal-list div{
    margin-left: 10px;
}
/* 留덉�留� �옄�떇�끂�뱶 �삤瑜몄そ 媛꾧꺽 留욎텛湲� */
#deal-list>:last-child{
    margin-right: 10px;
}
/* -------- evnet ---------------------------------------------*/
#event{
    display: table;
    margin-left: auto;
    margin-right: auto;  
}
.event-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border:1px dotted #FF00FF;
}
.flex-items{
   flex: auto;
   min-width:110px;
   height: 50px;
   background:#999;
   border-radius: 2px; 
   margin:3px;
}
.event-add{
    /* �삤瑜몄そ 遺숈씠湲� */
    float: right;
}
/* ------ notice----------------------------------------------- */
#notice{
    display: table;
    margin-left: auto;
    margin-right: auto;  
}