.d-none{
   display: none;
}
/* ----header------------- */
#header{
   height: 300px;
}
/* ---body---------------- */
#main{
   display: table;
   margin: auto;
}
.main-div{
   display: flex;
   width: 940px;
   min-height: 100%;
   flex-direction: column;
}
.login-form{

}
.user-login{
   display: table;
   margin: auto;
}
.login-id>form{
   display: inline-block;
}

input{
   border-bottom: 1px solid gray;
}
.api-login>ul{
   display: flex;
   margin: auto;
   margin-right: 15px;
}
.api-login>ul>li{
   padding-left: 15px;
}
.api-login{
   display: table;
   margin: auto;
   margin-top: 29px;
   margin-bottom: 86px;
}
.logo{
   width: 40%;
   display: table;
   margin: auto;
   text-align: center;
   height: 298px;
   padding: 52px;
   margin-top: 100px;
}