/* body 위치 */
html{
   height: 100%;
}
/* tab버튼  */
.tab-btn>ul{
   display: flex;
}
.tab-btn>ul>:last-child{
   padding-left: 10px;
}
/*tab form */
#partner-section{
   width: 299px;
}
form div>span{
   display: flex;
   width: 100%;
   
}
#signup{
   display: table;
   margin-left: auto;
   margin-right: auto;
   margin: auto;
   height: 100%;
}
/* error 처리 */
.same.error{
   color: red;
}
.same{
   color: green;
}
