@charset "UTF-8";
/* ---------헤더영역-----------------------------------------------  */

/* 공백제거 */
.page-header.index{
	margin-top: 0px;
	margin-bottom: 0;
	background-color:#FDF5E6 ;
	padding-bottom: 0px;

}
/* ------- logo ------------------------------------------------------ */
/* 위치 및 선택  */

.position-logo{
	--position: relative;
	top:18px;
}
.sub-title{
	--position: relative;
	top:18px;
}
.menu-list{
	width: 100%;
	display: table;
    margin-left: auto;
    margin-right: auto;
}



/* nav 영역 */
#nav-menu{
	display: flex;
}
/*----  회원상태 nav ----------------------------------------------------- */
#member-state{
	display: flex;
	margin-left: auto;
}
#member-info{
	display: flex;
}
/*  오른쪽 위치 상단위치 */
#member-nav{
	margin-left: auto;
}
#member-nav>ul{
	display: flex;
}
#member-nav>ul>li{
	font-size: 16px;
	padding: 7px;
}
/* ----데이트 선택 nav --------------------------------------------------- */
/* 구분선  */
#nav-menu{
	border-top: 1px solid orange;
}
#date-how>ul{
	display: flex;
}
/*-- 일반회원 커플 정보 position ------------------------------------*/
.couple-info-toggle{
	position: absolute;
}
.couple-info-toggle>ul{
	display: flex;
	margin-top: 10px;
	margin-left: -4px;
}
.couple-info-toggle>ul>li{
	font-size: 13px;
	padding: 6px;
    padding-left: 12px;
}
/* ---알람 box ---------------------------------------------------*/
.alert-list{
	display: flex;
	position: absolute;
	margin-top: 16px;
    margin-left: -67px;
}
.alert-list>li{
	font-size: 13px;
	padding-left: 12px;
}


/* 반응형 css 정의 */
@media screen and (min-width: 800px) {
	.menu-list{
		width: 800px;
		background:pink;
	}

	.alert-list{
		display: flex;
		position: absolute;
		margin-top: 16px;
		margin-left: -67px;
	}
	.alert-list>li{
		font-size: 13px;
		padding-left: 12px;
	}
	
}

@media screen and (min-width: 1200px) {
	.menu-list{
		
		background:blue;
	}
}