/* 공지 구분 및 등록 배치*/
#notice-btn {
   display: flex;
}
#notice-btn>.notice-division ul{
   display: flex;
}
/* 자식노드 사이 공간추가 */
#notice-btn>.notice-division ul>:last-child{
   margin-left: 10px;
}
#notice-btn>.notice-reg{
   margin-left: auto;
}
/* 오른쪽에 공간추가 */
#notice-btn>.notice-reg>a{
   margin-right: 10px;
}


/* ------------------list------------------ */
.notice-list  {
   border: 1px solid gray;
   /* 리스트들 사이에 공간 추가  */
   margin-bottom: 1px;
}
.notice-template-section  {
   border: 1px solid gray;
}
.d-none {
   display: none;
}

.content{
   --transform-origin: center top;
   --transform:translateY(-1);
   --transform: scaleY(0);
   height: 0px;
   overflow: hidden;
   transition: height 500ms;


}
.writerId.current {
   
   height: 100px;
   --transform:translateY(0);
   --transform: scaleY(1);
	--transform-origin: center top;
	--transform:translateY(-1);
	--transform: scaleY(0);
	height: 0px;
	overflow: hidden;
	transition: height 500ms;

	


}

.content.current {
   
   height: 100%;
   --transform:translateY(0);
   --transform: scaleY(1);
   transition: height 500ms;
}
.contentc.currentc {
   
   height: 100px;
   --transform:translateY(0);
   --transform: scaleY(1);
   transition: height 500ms;
}
.btn-detail{
}
