/* ------------------list------------------ */

.notice-list  {
	border: 1px solid gray;
}
.notice-template-section  {
	border: 1px solid gray;
}
.d-none {
	display: none;
}

.content{
	
	--transform-origin: center top;
	--transform:translateY(-1);
	--transform: scaleY(0);
	height: 0px;
	overflow: hidden;
	transition: height 500ms;

	

}
.writerId.current {
	
	height: 100px;
	--transform:translateY(0);
	--transform: scaleY(1);
}

.content.current {
	
	height: 100px;
	--transform:translateY(0);
	--transform: scaleY(1);
}
.contentc.currentc {
	
	height: 100px;
	--transform:translateY(0);
	--transform: scaleY(1);
}
.btn-detail{
}

